.react-colorful {
    width: 100% !important;
    padding: 0.4rem 0.2rem 0 0.2rem;
}

.react-colorful__saturation {
    border-radius: 0.2rem 0.2rem 0 0 !important;
}

.react-colorful__last-control {
    border-radius: 0 0 0.2rem 0.2rem !important;
}